<html>
    <head>
        <title> forgot password </title>
    </head>
    <body align="center">
        <form action="/reset-pass" method="POST">
            <p>{{ x }}</p><br><br>
            <input type="text" placeholder="username" name="uname"><br><br>
            <input type="submit"><br><br>
        </form>
    </body>
</html>