<html>
    <head>
        <title> Register Page </title>
    </head>
    <body align="center">
        <form action="/reg-user" method="POST">
            <p>{{ usercheck }}</p>
            <input type="text" placeholder="firstname" name="fname"><br><br>
            <input type="text" placeholder="lastname" name="lname"><br><br>
            <input type="text" placeholder="username" name="uname"><br><br>
            <input type="password" placeholder="password" name="pass"><br><br>
            <input type="password" placeholder="confirm password" name="cpass"><br><br>
            <input type="submit">
        </form>
    </body>
</html>