<html>
    <head>
        <title> change password </title>
    </head>
    <body align="center">
        <form action="/reset-password" method="POST">
            <input type="text" name="uname" value="{{ ok }}"><br><br>
            <input type="password" placeholder="new password" name="newpass"><br><br>
            <input type="password" placeholder="confirm password" name="confirmpass"><br><br>
            <input type="submit"><br><br>
        </form>
    </body>
</html>